In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [10]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
train

,Patient,Weeks,FVC,Percent,Age,Sex,SmokingStatus
0,ID00007637202177411956430,-4,2315,58.253649,79,Male,Ex-smoker
1,ID00007637202177411956430,5,2214,55.712129,79,Male,Ex-smoker
2,ID00007637202177411956430,7,2061,51.862104,79,Male,Ex-smoker
3,ID00007637202177411956430,9,2144,53.950679,79,Male,Ex-smoker
4,ID00007637202177411956430,11,2069,52.063412,79,Male,Ex-smoker
...,...,...,...,...,...,...,...
1544,ID00426637202313170790466,13,2712,66.594637,73,Male,Never smoked
1545,ID00426637202313170790466,19,2978,73.126412,73,Male,Never smoked
1546,ID00426637202313170790466,31,2908,71.407524,73,Male,Never smoked
1547,ID00426637202313170790466,43,2975,73.052745,73,Male,Never smoked
1548,ID00426637202313170790466,59,2774,68.117081,73,Male,Never smoked

In [11]:
y = train["FVC"]
X = train.copy()
X=X.drop(columns = ["FVC", "Patient"])
X['Sex'] = X['Sex'].map(lambda x: 1 if(x == "Male") else 0 )
X['SmokingStatus'] = X['SmokingStatus'].map(lambda x: 1 if(x == "Ex-smoker") else 0 )
X.head()

   Weeks    Percent  Age  Sex  SmokingStatus
0     -4  58.253649   79    1              1
1      5  55.712129   79    1              1
2      7  51.862104   79    1              1
3      9  53.950679   79    1              1
4     11  52.063412   79    1              1

In [12]:
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.834150178426914

In [13]:
test_y = test.drop(columns = ['FVC', "Patient"])
test_y['Sex'] = test_y['Sex'].map(lambda x: 1 if(x == "Male") else 0 )
test_y['SmokingStatus'] = test_y['SmokingStatus'].map(lambda x: 1 if(x == "Ex-smoker") else 0 )
y_pred = reg.predict(test_y)
y_pred

array([2588.7072862 , 3081.09196065, 2796.9360115 , 2901.33150633,
       2607.54960868])

In [15]:
from sklearn.metrics import mean_squared_error
y_true = test["FVC"]
y_true

0    3020
1    2739
2    1930
3    3294
4    2925
Name: FVC, dtype: int64

In [16]:
#[3020, 2739, 1930, 3294, 2925]
mean_squared_error(y_true, y_pred)

261916.33188521612